@media (min-width: 768px) {

  .hamburger {
    display: none;
  }

  .nav-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    gap: 1.5rem;
  }

  .nav-menu a {
    padding: 1rem 0;
  }

  .nav-menu a::after {
    bottom: -8px;
  }

  main {
    max-width: 1100px;
    margin: 0 auto;
  }

  .grid-view {
    grid-template-columns: repeat(3, 1fr);
  }

  .list-view .member-card {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 1rem;
  }

  .list-view img {
    display: none;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
  }
}
