@media (min-width: 768px) {

  nav.nav-menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
    background: transparent;
  }

  nav.nav-menu {
    display: flex;
    justify-content: center;
  }

  nav.nav-menu li {
    list-style: none;
  }

  nav.nav-menu li a {
    padding: 0.5rem 0;
    color: black;
  }

  nav.nav-menu li a::after {
    bottom: -8px;
  }

  .hamburger {
    display: none;
  }

  .nav-menu a.active::after,
  .nav-menu a:hover::after {
    width: 100%;
  }

  nav.nav-menu li a:hover,
  nav.nav-menu li a.active {
    color: var(--secondary);
  }

  .layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .business-cards {
    display: flex;
    gap: 1rem;
  }

  .hamburger {
    display: none;
  }

  .course-card {
    padding: 1rem;
    font-size: 1.1rem;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
  }
}
